{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" type="text/less" media="all" href="{{ STATIC_URL }}less/static_pages.less' }}"/>
{% endblock %}

{% block cdnjs %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuRtB1F8XVtV22jQ3dkGQPqWCKQz4suJ0&sensor=false"></script>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/static_pages.js }}"></script>
{% endblock %}

{% block body %}
	<div class="wrap">
		{% include "partials/header_static.html" %}
		<div class="container">
			{% block content %}<h3>Error 404</h3>{% endblock %}
		</div>
		<div class="push"></div>{# sticky footer div #}
	</div>
	{% include "partials/footer_static.html" %}
	{% include "partials/modal_photo_upload.html" %}
	</div>
{% endblock %}